
*{
  margin:0;
  padding:0;
}

body{
  margin:0;
  -webkit-boxsizing: border-box;
  -moz-boxsizing: border-box;
  -ms-boxsizing: border-box;
  -o-boxsizing: border-box;
  box-sizing: border-box;
  height: 75vw;
  overflow-y: scroll;
}


.grid{
  width:100%;
  -webkit-background-image: url("../img/bg.png");
  -moz-background-image: url("../img/bg.png");
  -ms-background-image: url("../img/bg.png");
  -o-background-image: url("../img/bg.png");
  background-image: url("../img/bg.png");

  background-repeat:no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display:grid;
  grid-template-columns: 7% 22% 35% 30% 6%;
  grid-auto-rows: 1vw;
}



/* Measurings from Photoshop
Original photo : width = 4770px, height=3577px
NOTE: All is referenced to width of the screen
*/

/*Column 1*/
.block_side_left{
  grid-row:1/76;
  grid-column: 1/2;
}
/*Column 2*/
.blank_col2{
  grid-column:2/3;
  grid-row:1/15;
  position:relative;
}

.block_computer{
  grid-row: 15/40;
  grid-column:2/3;
  position:relative;
}

.block_books_left{
  grid-row: 40/54;
  grid-column:2/3;
  position:relative;
}
.blank_col2_2{
  grid-row:2/3;
  grid-row:54/76;
}
/*Column 3*/
.blank_col3{
  grid-column:3/4;
  grid-row:1/25;
}
.block_woodman{
  grid-column:3/4;
  grid-row:25/38;
  position:relative;
  transition-duration: 0.5s;
}

.block_ukulele{
  grid-column:3/4;
  grid-row:38/51;
  position:relative;
}

.block_books_middle{
  grid-column:3/4;
  grid-row:51/64;
  position:relative;
}

.blank_col3_2{
  grid-column: 3/4;
  grid-row:64/76;
}

/*Fourth column*/
.blank_col4{
  grid-column:4/5;
  grid-row:1/15;
}

.block_plant{
  grid-column:4/5;
  grid-row:15/29;
  position:relative;
}

.block_micro{
  grid-column:4/5;
  grid-row:29/44;
  position:relative;
  transition-duration: 0.5s;
}

.block_slack{
  grid-column:4/5;
  grid-row:44/58;
  transition-duration: 0.5s;
}

.blank_col4_2{
  grid-column:4/5;
  grid-row:58/76;
}

/*.Fifth column*/
.block_side_right{
  grid-row:1/76;
  grid-column: 5/6;
}

/*-------------------Shelf elements----------------------------------------*/
#Name{
  width: 56.35vw;
  height: 9.2vw;
  position:absolute;
  left:0px;
  top:5vw;
  overflow: visible;
  z-index: 2;
}

/*First column*/
#Computer{
  width:22.41vw;
  height:14.25vw;
  position:absolute;
  bottom:-.7vw;
  left:0;
}

#Computer_ON{
  width:15.49vw;
  height:10.20vw;
  position:absolute;
  bottom:1.65vw;
  left:3.4vw;
  display:none;
}

#Books_left{
  width:17.33vw;
  height:13.5vw;
  position:absolute;
  left:1vw;
  bottom:-1vw;
}

/*Second column*/

#Books_mid_0{
  width:9.077vw;
  height:12.054vw;
  position:absolute;
  left:1vw;
  bottom:-.2vw;
}

#Books_mid_0_shadow{
  width:3.941vw;
  height:13.144vw;
  position:absolute;
  left:0;
  bottom:-1vw;
}

#Pens{
  width:6.582vw;
  height:9vw;
  position:absolute;
  left:10vw;
  bottom:-.2vw;
}

#Woodman{
  width:6.1215vw;
  height:12.78vw;
  position:absolute;
  right:10.5vw;
  bottom:-.2vw;
  image-rendering:crisp-edges;
}

#Papers{
  width:10.419vw;
  height:3.3542vw;
  position:absolute;
  right:4vw;
  bottom:-.8vw;
}

#Ukulele{
  width:28.67vw;
  height:10.77vw;
  position:absolute;
  right:1vw;
  bottom:-.2vw;
  z-index: 1;
}

#Ukulele_shadow{
  width:30.104vw;
  height:2.914vw;
  position:absolute;
  left:5vw;
  bottom:-.3vw;
  z-index:0;
}

#Books_mid_1{
  width:18.82vw;
  height:13.75vw;
  position:absolute;
  left:16.5vw;
  bottom:-.2vw;
  z-index: 2;
}

#Books_mid_1_shadow{
  width:21.34vw;
  height:6.561vw;
  position:absolute;
  right:-.5vw;
  bottom:-2vw;
  z-index: 0;
}
/*Third column*/
#Plant{
  width:23.41vw;
  height:15.26vw;
  position:absolute;
  right:4vw;
  bottom:-.7vw;
}

#Micro{
  width:14.255vw;
  height:4.779vw;
  position:absolute;
  right:11vw;
  bottom:0vw;
}

#Slack{
  width:29.6vw;
  height:12.8vw;
  position:absolute;
  left:64vw;
  margin-top:2vw;
  z-index: 1;
}

#Slack_shadow{
  width:32vw;
  height:6.603vw;
  position:absolute;
  right:5vw;
  margin-top:9vw;
  z-index:0;
}

/*Modals*/
#Slackline_modalTitle{
  font-size:40px;
}


/*Hover effects*/


.block_slack:hover {
  cursor:pointer;
  transition-duration: 0.5s;
  background-color: rgba(255,255,255,.1);
  /*box-shadow: .2vw -.2vw 1vw .1vw #fff;*/
}

.block_woodman:hover {
  cursor:pointer;
  transition-duration: 0.5s;
  background-color: rgba(255,255,255,.1);
  box-shadow: .5vw -,5vw 1vw .1vw #fff;
}

img:not(#Computer_ON):not(#Computer):not(#Name):not(#Slack):not(#Slack_shadow):not(#Papers):not(#Books_mid_0_shadow):hover{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

img {
    /*image-rendering: optimizeSpeed;             /*                     */*/
    /*image-rendering: -moz-crisp-edges;          /* Firefox             */*/
    image-rendering: -o-crisp-edges;            /* Opera               */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and Safari) */
    /*image-rendering: optimize-contrast;         /* CSS3 Proposed       */*/
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                */
    }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(3px, 0, 0);
  }
}

.block_micro:hover {
  cursor:pointer;
  transition-duration: 0.5s;
  background-color: rgba(255,255,255,.1);
  box-shadow: .5vw -,5vw 1vw .1vw #fff;
}

.block_computer:hover {
  transition-duration: 0.5s;
  background-color: rgba(255,255,255,.1);
  box-shadow: .5vw -,5vw 1vw .1vw #fff;
}

/*Mobile versions*/
.mobile_version{
  display: none;
}

/*Media Queries*/

@media only screen and (max-width: 650px) {
  body .grid{
    display:none;
    background-color:white;
  }
}
